/* Global Variables */
:root {
    /* Color Palette - leave variable names. */
    --theme-3: #001524ff;
    --theme-2: #072e3cff;
    --theme-1: #15616dff;
    --light-1: #ffecd1ff;
    --light-2: #ffc78bff;
    --active-1: #ff7d00ff;
    --dark-1: #120602ff;
    --light-text: #ffecd1ff;
    --dark-text: #15616dff;

    /* Borders*/
    --container-borders: 0px var(--dark-1) dashed;
    --container-radius: 5px;
}