/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* Global Variables */
:root {
    /* Color Palette - leave variable names. */
    --theme-3: #001524ff;
    --theme-2: #072e3cff;
    --theme-1: #15616dff;
    --theme-0: rgb(112, 193, 206);
    --active-1: rgb(255, 102, 0);
    --light-1: #f3fff4;
    --light-2: #a8fdac;
    --light-text: #f3fff4;
    --dark-1: #120602ff;
    --dark-text: #15616dff;

    /* Borders*/
    --container-borders: 0px var(--dark-1) dashed;
    --container-radius: 5px;
}