.modal-title{
    width: 100%;
    text-align: center;
}

.modal-content {
    border-radius: 10px !important;
}

.modal div.h4 {
    color: var(--light-2);
}

.modal-header {
    color: var(--light-1) !important;
    background-color: var(--theme-1);
    border: 0;
    border-radius: 10px 10px 0 0;
}

.modal-body {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--light-2);
    border-radius: 0 0 10px 10px;
}

.modal .user {
    text-align: center;
    width: 48%;
    margin: 1%;
}

.modal img {
    background-color: var(--light-1);
    border-radius: 10000px;
    max-height: 280px;
    width: 15vh !important;
    height: 15vh !important;
    padding: 5%;
    margin-right: 1%;
    margin-bottom: 3%;
    width: 100%;
}


/* Desktop View */
@media only screen and (min-width: 1200px){
    .modal img{
        margin-right: 0%;
        width: 280px !important;
        height: 280px !important;
    }
}