nav#NavBar {
    background-color: var(--light-2);
    max-height: 6vh;
}

div#NavBarContainer{
    min-width: 100%;
}

nav button{
    background-color: var(--light-2) !important;
}

nav a.nav-link {
    padding: 3%;
    text-align: center;
    color: var(--dark) !important;
    background-color: var(--light-2);
}

nav a.nav-link:hover {
    color: var(--active-1) !important;
}