nav#NavBar {
    background-color: var(--theme-2);
    max-height: 10vh;
}

div#NavBarContainer{
    min-width: 100%;
    background-color: var(--theme-2);
}

nav button{
    background-color: var(--light-2) !important;
}

nav a.nav-link {
    padding: 3%;
    text-align: center;
    color: var(--light-1) !important;
}

nav a {
    color: var(--light-1) !important;
}

nav a.nav-link:hover, nav a:hover  {
    color: var(--active-1) !important;
}

/* Desktop Design */
@media only screen and (min-width: 1200px){
    nav#NavBar {
        max-height: 6vh;
    }
}