/* Mobile Design */

.btn-primary {
    color: var(--light-2) !important;
    border: 0 !important;
    background-color: var(--theme-1) !important;
}

input {
    background-color: var(--light-1) !important;
}

body {
    min-height: 100vh;
}

div#root {
    min-height: 100vh;
}

div.App {
    min-height: 100%;
}

h1.title {
    height: 4%;
}

div.page{
    height: 100%;
}

div.outer{
    height: 90vh !important;
}

canvas {
    width: 98%;
    max-height: 90%;
}

img {
    width: 40%;
}

div.quart_chunk {
    width: 100%;
    border: 1px black solid;
    margin: 0;
    background-color: bisque;
    border-radius: 3px;
    min-width: 350px;
}

div.whole_chunk {
    width: 100%;
    border: 1px black solid;
    margin: 0;
    background-color: bisque;
    border-radius: 3px;
    min-width: 350px;
}

div.center_chunk {
    width: 100%;
    height: 80%;
    justify-self: center;
    border: 1px black solid;
    background-color: bisque;
    border-radius: 5px;
}

/* Styling for pages with a sidebar and quarter containers in the center */
div.page.with_side_panel {
    flex-direction: row;
    flex-wrap: wrap;
}

div.side_panel {
    height: auto;
    width: 100%;
    background-color: burlywood;

}

div.page.with_side_panel div.page {
    flex-direction: column;
    height: 95%;
}

div.page.with_side_panel div.page div.quart_chunk {
    width: 100%;
}

/* Tablet Design */
@media only screen and (min-width: 800px){

    div.page {
        justify-content: space-around;
    }

    div.quart_chunk {
        width: 48%;
        height: 42vh;
    }

    div.whole_chunk {
        height: 100%;
    }

    div.center_chunk {
        width: 80%;
        height: 80%;
    }

    div.page.with_side_panel div.page div.quart_chunk {
        height: 48%;
    }
}

/* Desktop Design */
@media only screen and (min-width: 1200px){
    div.page {
        justify-content: space-around;
    }

    div.center_chunk {
        width: 40%;
        height: 60%;
    }

    div.whole_chunk {
        width: 98%;
        height: 100%;
    }

    div.page.with_side_panel {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
    }
    
    div.side_panel {
        height: 100%;
        width: 10%;
        background-color: burlywood;
        
    }

    div.page.with_side_panel div.page {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 90%;
    }

    div.page.with_side_panel div.page div.quart_chunk {
        width: 48%;
    }
}