table.table {
    background-color: var(--theme-2);
}

table td, table th {
    color: var(--light-text) !important;
}

th {
    background-color: var(--theme-2) !important;
}

tbody {
    /* display: none; */
    min-width: 100%;
}

div.side_panel td {
    width: 100% !important;
    height: auto !important;
    word-break: break-all;
}

.scrollable-wrapper {
    max-height: 92%;
    overflow: auto;
    background-color: var(--theme-2);
    border-radius: 0 0 var(--container-radius) var(--container-radius);
}

.scrollable-wrapper-sidebar {
    max-height: 34vh;
    overflow: auto;
}

.scrollable-wrapper-sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollable-wrapper table thead th {
    position: relative;
    top: 0;
}

div.side_panel {
    height: 40vh;
}

button#SideOpen {
    display: none;
}

/* Desktop Design */
@media only screen and (min-width: 1200px){
        
    div.side_panel {
        height: 100%;
        padding-bottom: 2%;
    }

    .scrollable-wrapper-sidebar {
        max-height: 100%;
    }

    button#SideCollapse {
        display: none;
    }
}