table.table {
    background-color: var(--theme-2);
}

table td, table th {
    color: var(--light-text) !important;
}

th {
    background-color: var(--theme-2) !important;
}

tbody {
    /* display: none; */
    min-width: 100%;
}

div.side_panel td {
    width: 100% !important;
    height: auto !important;
    word-break: break-all;
}