nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav a {
    padding: 1%;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: cornflowerblue;
    color: wheat;
}